<!DOCTYPE html>
<html>
<head lang="en">
<title>E-stock</title>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:include="fragments/header :: header"></th:block>
		<div class="jumbotron">
			<h1>Navbar example</h1>
			<p>A finalidade desta introdução sobre o produto é apresentar sua
				funcionalidade, seu conceito e suas características, ou seja, dar um
				embasamento geral</p>
			<p>Este produto tem como principal finalidade gerenciar o fluxo
				de produtos em estoque, com ele, será possível adicionar, editar,
				excluir todo uma gama de atributos que envolvem um estoque como:
				Produtos, Endereços, Histórico de vendas/compras e etc...</p>
			<p>Esse sistema poderá ser usado por empresas de pequeno porte ou
				até médio porte.</p>
		</div>
	</div>

</body>
</html>
