<!DOCTYPE html>
<html>
<head lang="en">
<title>E-stock</title>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:include="fragments/header :: header"></th:block>
		
		
		<div class="jumbotron">
			<h1>Navbar example</h1>
			<p>
				This example is a quick exercise to illustrate how the default
				navbar works. It's placed within a
				<code>.container</code>
				to limit its width and will scroll with the rest of the page's
				content.
			</p>
			<p>
				<a class="btn btn-lg btn-primary"
					href="http://v4-alpha.getbootstrap.com/components/#navbar"
					role="button">View navbar docs »</a>
			</p>
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img src="#" alt="#" />
						<div class="caption">
							<h3>Thumbnail label</h3>
							<p></p>
							<p>
								<a href="#" class="btn btn-primary" role="button">Button</a> <a
									href="#" class="btn btn-default" role="button">Button</a>
							</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
</body>
<footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
</html>
